<div class="ullinks clearfix">
	<div class="ullinks-left">
		<label></label>
		<h3></h3>
	</div>
	<div class="ullinks-right clearfix">
		<h3 class="h3-title">
			{{ 'Sort by'|t }}
		</h3>
		<ul class="links clearfix">
			{% if links.bestseller %}<li>{{ links.bestseller }}</li>{% endif %}
			{% if links.price %}<li>{{ links.price }}</li>{% endif %}
			{% if links.stars %}<li>{{ links.stars }}</li>{% endif %}
		</ul>
	</div>
</div>